/* Tags */
body {
    background-color: #D6E4E5;
    color: gray;
    margin: 0px;
}

hr {
    border-style: none;
    border-top: 7px dotted #EFF5F5;
}

h1 {
    color: #497174;
}

h3 {
    color: #497174;
}

a:any-link {
    color: gray;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-color: grey;
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

/* Classes */
.img_format {
    width: 400px;
    height: auto;
    display: block;
}
.img_format_2 {
    width: 400px;
    height: auto;
}
.bottom_container {
    margin: 0;
    padding: 18px 0;
}
.subtle {
    border-color: #EFF5F5;
    width: 50px;
    margin: 50px auto;
}
.subtle_align {
    border-color: #EFF5F5;
    width: 50px;
}
